@model IEnumerable<Comp229_301052117_Assign3.Models.Recipes>



<div class="panel-body" id="recipeList">
    <div class="panel-heading text-center"><h2>Recipe List</h2></div>
    <div class="card-columns">
        @foreach (Comp229_301052117_Assign3.Models.Recipes r in Model)
        {
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text text-black-50"><b>Dish Name:</b> <a asp-action="DisplayPage" asp-controller="Home" asp-route-dishName="@r.DishName">@r.DishName</a></p>
                    <p class="card-text text-black-50"><b>Category:</b> @r.Category</p>
                    <p class="card-text text-black-50"><b>Created By:</b> @r.Author</p>

                    <form asp-controller="Crud" asp-action="Delete" method="post">
                        <a asp-action="Edit" asp-controller="Crud" class="btn btn-sm btn-warning" asp-route-dishName="@r.DishName">
                            Edit
                        </a>
                        <a asp-action="Review" asp-controller="Crud" class="btn btn-sm" asp-route-dishName="@r.DishName">
                            Review
                        </a>
                        <button type="submit" asp-action="Delete" asp-controller="Crud" class="btn btn-danger btn-sm" asp-route-dishName="@r.DishName">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>

</div>
